@page "/"
@inject IChemicalElementService _service;


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">



<nav class="navbar smooth-border bg-nav position-fixed top-0 start-0 w-100 text-center px-3 flex flex-row flex-nowrap">
    <div class="form-floating w-100">
      <input type="text" class="form-control border-search" @oninput="valueChanged" value="@value" id="floatingInput" placeholder="chemicalElement">
      <label for="floatingInput">Szukaj pierwiastka...</label>
    </div>
    <button class="bg-transparent border-0 p-0 m-0" data-bs-toggle="modal" data-bs-target="#infoModal"><i class="fa-solid fa-circle-info text-blue fs-3 ms-3"></i></button>
</nav>

<div class="content">
    @if (chemicalElements != null)
    {
        @foreach (var element in chemicalElements)
        {
            <button class="bg-blue chemical_element" @onclick="()=>selectElement(element)" data-bs-toggle="modal" data-bs-target='@(!element.usage.Any()?"#noUsage":"#elementModal")'>
                <div>@element.atomicNumber</div>
                <h1>@element.symbol</h1>
                <div>@element.name</div>
                <div>@element.atomicWeight</div>
            </button>
        }
    }
</div>
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="infoModalLabel">Informacje</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p>
              Aplikacja przedstawia informacje o pierwiastkach chemicznych. 
              Wyszukaj interesujący Cię pierwiastek, a następnie kliknij w niego, aby zobaczyć jego zastosowania.
          </p>
          <div class="d-flex justify-content-center w-100">
            <img class="img-fluid photo-legend" src="legend.png" alt="Legenda">
          </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="elementModal" tabindex="-1" aria-labelledby="elementModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title d-flex align-items-center flex-row fs-4 fw-bold" id="elementModalLabel">
                    <div class="bg-blue mini-chemicalElement fs-5 fw-bold me-3">
                        @(selectedElement != null ? selectedElement.symbol : "Symbol")
                    </div>
                    @(selectedElement != null ? selectedElement.name : "Element name")
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="p-0">
                    @if (selectedElement is not null)
                    {
                        @foreach (var usage in selectedElement.usage)
                        {
                            <li class="list-unstyled w-100">
                                <div class="d-flex justify-content-around w-100">
                                    <h3 class="mb-4 fw-bold border-primary title">@usage.name</h3>
                                </div>
                                <div class="d-flex flex-row justify-content-around align-items-center w-100 content-flex-wrap">
                                    <img src="@usage.photo" class="img-fluid img-thumbnail photo m-3 mt-0" alt="@usage.name"/>
                                    <p class="flex-grow-1 text-wrap p-3 content-text-center fs-4">@usage.description</p>
                                </div>
                                <hr/>
                            </li>
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="noUsage" tabindex="-1" aria-labelledby="noUsageLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="noUsageLabel">Brak zastosowania</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          @if (selectedElement is not null)
          {
              <p>@selectedElement.name nie ma praktycznego zastosowania lub nasza baza danych go nie posiada</p>
          }
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>


@code{
    private List<Element> chemicalElements;
    private List<Element> basicElements;
    private string value;
    private Element selectedElement;
    
    protected override async Task OnInitializedAsync()
    {
        var result = await _service.GetChemicalElements();
        chemicalElements = result.elements.ToList();
        basicElements = result.elements.ToList();
    }
    
    private void valueChanged(ChangeEventArgs e)
    {
        value = e.Value.ToString();
        chemicalElements = basicElements;
        if(int.TryParse(value, out _))
        {
            chemicalElements = chemicalElements.Where(x => x.atomicNumber.ToString().Contains(value)).ToList();
        }
        else
        {
            chemicalElements = chemicalElements.Where(x => x.name.ToLower().Contains(value.ToLower())).ToList();
        }
    }

    private void selectElement(Element element)
    {
        selectedElement = element;
    }

}